<% if user_signed_in? %>
    <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
    <li>
        <%= link_to 'Patients', controller: 'patients' %>
    </li>
    <li>
        <%= link_to 'Home', controller: 'homepage' %>
    </li>
    <li class="search-bar">
            <%= form_tag(patients_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search by lastname" %>
            <%= submit_tag "Search" %>
          </li>
    
<%else%>
    <li>
        <%= link_to('Login', new_user_session_path) %>
    </li>
<% end %>