<h1>Visit for <%= @patient.firstname %></h1>

<p>
<strong>Last Name:</strong>
<%= @patient.lastname %>
</p>
<p>
<strong>Injury:</strong>
<%= @patient.injury %>
</p>
<!-- Display the reviews of a movie -->
<h2>Visits</h2>
<% @patient.visits.each do |visit| %>
<p>
<b>Visit details:</b>
<%= visit.details %>
</p>
<% end %>
<%= link_to 'Edit Patient', edit_patient_path(@patient) %> |
<%= link_to 'Back', patient_path %> |
<%= link_to 'Show Visit', patient_visits_path(@patient) %>

<%= link_to 'Edit', edit_patient_visit_path(@patient, @visit) %> |
<%= link_to 'Back', patient_visits_path(@patient) %>

<p id="notice"><%= notice %></p>
<p>
    <strong>First Name:</strong>
    <%= @patient.firstname %>
</p>

