<h1>Visit for <%= @patient.firstname %></h1>

<p>
<strong>Last Name:</strong>
<%= @patient.lastname %>
</p>
<p>
<strong>Injury:</strong>
<%= @patient.injury %>
</p>
<p>
    <strong>Infection</strong>
    <%= @patient.infection %>
</p>
<p>
    <strong>Observations</strong>
    <%= @patient.observations %>
</p>
<!-- Display the reviews of a movie -->

<p>
<b>Visit details:</b>
<%= visit.details %>
</p>
<% end %>
<%= link_to 'Patient Information', patient_path %> |
<%= link_to 'Show All Visits', patient_visits_path(@patient) %> |
<%= link_to 'Edit Visit', edit_patient_visit_path(@patient, @visit) %>

<p id="notice"><%= notice %></p>


