<h1>Visit in <%= @patients.title %></h1>
<table>
<tr>
<th>Visit details</th>
</tr>
<% for visit in @visit %>
<tr>
<td><%= visit.details %></td>
<td><%= link_to 'Show', patients_visit_path(@patients, visit)
%></td>
<td><%= link_to 'Edit', edit_patients_visit_path(@patients, visit)
%></td>
<td><%= link_to 'Destroy', patients_visit_path(@patients, visit),
:confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
<br />
<%= link_to 'New visit', new_patients_visit_path(@patients) %>
<%= link_to 'Back to Patient', @patients %>
