<h1>Visit in <%= @patients.title %></h1>
<p>
<b>Visit details:</b>
<%= @visit.details %>
</p>
<%= link_to 'Edit', edit_patients_visit_path(@patients, @visit) %> |
<%= link_to 'Back', patients_visit_path(@patients) %>

<p id="notice"><%= notice %></p>
<p>
    <strong>First Name:</strong>
    <%= @patients.firstname %>
</p>

<p>
<strong>Last Name:</strong>
<%= @patients.lastname %>
</p>
<p>
<strong>Injury:</strong>
<%= @patients.injury %>
</p>
<!-- Display the reviews of a movie -->
<h2>Visit</h2>
<% @patients.visit.each do |visit| %>
<p>
<b>Visit details:</b>
<%= visit.details %>
</p>
<% end %>
<%= link_to 'Edit Patient', edit_patients_path(@patients) %> |
<%= link_to 'Back', patients_path %> |
<%= link_to 'Show Visit', patients_visit_path(@patients) %>